section.resume-section {
    max-width: 75rem;
    padding-bottom: 5rem !important;
    padding-top: 5rem !important;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }
}